.meniu-navigare{
    display: flex;
    align-items: center;
    z-index: 1000; /* Bara de meniu va fi deasupra elementelor cu z-index-ul mai mic decat 1000 */
    list-style-type: none;   /* Elimina marcatorii listei */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;    /* Pozitioneaza la marginea de sus */
    width: 99%; /* intreaga latime a ecranului */
}

.meniu-navigare li{
    flex: 1; /* Fiecare element ocupa un spatiu egal */
    text-align: center;
    border-right: 2px solid #bbb; 
}

.meniu-navigare li:last-child {
    border-right: none;
}


.meniu-navigare li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
}

.meniu-navigare li a:hover{
    background-color: #E69A55;
    color: black;
}




